@import '../../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Typography
$base-font-family: $helvetica;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;

$base-font-color: $dark-gray;
$base-background-color: $very-light-gray;

body {
  font-family: $base-font-family;
  background-color: black;
  color: white;
}

.app-container {
  @include outer-container;
  max-width: 600px;
  margin: 0 auto;
}

.select .selected {
  background-color: gray;
  height: 240px;
  width: 240px;
}

.select li {
  height: 100px;
  width: 100px;
  display: inline-block;

  img {
    max-width: 100%;
  }
}
