<ul class="select heroes">
  {{#each heroes}}
    <li data-char-name="{{name}}">
      <img src="images/characters/{{name}}.png">
    </li>
  {{/each}}
</ul>
</div>

<a data-transition="play">Fight</a>

<ul class="select villains">
  {{#each villains}}
    <li data-char-name="{{name}}">
      <img src="images/characters/{{name}}.png">
    </li>
  {{/each}}
</ul>

<div class="selected-hero">
  <img class="js-selected-hero-image" src="" alt="">
</div>
