<div class="start-view">
  <map name="legend">
    <area shape="rect" coords="204,480,400,495" data-transition="select" alt="">
  </map>
  <img usemap="#legend" src="images/legend.jpg" alt="">
</div>
